
// colors
$color-1: #ffbd81;
$color-2: #fdf9e0;
$color-3: rgba(247, 211, 149, 60);
$text-primary: #010101;
$text-secondary: #737474;

// fonts import
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

// typography
$font-family: 'Roboto', sans-serif;
$font-weight_bold: 700;
$font-weight_italic: 300;
$font-size_large: 60px;
$font-size_medium: 40px;
$font-size_small: 24px;
$font-size_paragraph: 18px;
